body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1080px;
    margin: 0 auto;
    background-color: hsl(36, 100%, 93%);
}
h2{
    color: #00910a;
}
h1,h3,h4{
    color: rgb(2, 89, 151);
}
p,li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1e1e1e  
}
